@charset "UTF-8";
/* media queries */
@media (max-width: 1400px) {
  .section--servicios .container-fluid .card-deck .card {
    max-height: 750px;
  }
  .section--servicios .container-fluid .card-deck .card h2 {
    font-size: 1.2rem;
  }
  .section--servicios .container-fluid .card-deck .card .servicio__icono {
    width: 80px;
    height: auto;
  }
  .section--servicios .container-fluid .card-deck .card .list-group {
    font-size: 0.7rem;
  }
}
@media (max-width: 1200px) {
  /* títulos */
  .display-1 {
    font-size: 5rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 1.4rem;
  }

  .section--servicios .container-fluid .card-deck .card {
    min-width: 250px;
    align-items: center;
    margin: 15px;
  }
  .section--servicios .container-fluid .card-deck .card h2 {
    font-size: 1.1rem;
  }
  .section--servicios .container-fluid .card-deck .card .servicio__icono {
    width: 70px;
    height: auto;
  }
  .section--servicios .container-fluid .card-deck .card .list-group {
    font-size: 0.65rem;
  }

  .section--quienessomos .container-fluid .row .card {
    height: 350px;
  }
  .section--quienessomos .container-fluid .row .card div .icon a {
    font-size: 0.9rem;
  }
}
@media (max-width: 1000px) {
  .section--servicios .container-fluid {
    box-sizing: border-box;
  }
  .section--servicios .container-fluid .card-deck .card {
    max-width: 100px;
  }
  .section--servicios .container-fluid .card-deck .card h2 {
    font-size: 1rem;
  }
  .section--servicios .container-fluid .card-deck .card .servicio__icono {
    width: 60px;
    height: auto;
  }
  .section--servicios .container-fluid .card-deck .card .list-group {
    font-size: 0.6rem;
  }
}
@media (max-width: 992px) {
  /* footer */
  .footer .footer__div {
    justify-content: center;
  }
  .footer .footer__div__nav {
    display: flex;
    justify-content: space-evenly;
  }

  .section--quienessomos .container-fluid {
    /* card */
  }
  .section--quienessomos .container-fluid .section__div--contadoras {
    box-sizing: border-box;
    display: flex;
  }
  .section--quienessomos .container-fluid .section__div--contadoras .card h4 {
    font-size: 1.1rem;
  }
  .section--quienessomos .container-fluid .section__div--contadoras .card p {
    font-size: 0.9rem;
  }

  .section--contacto .section__div__titulo--contacto h1 {
    font-size: 2.2rem;
  }
  .section--contacto .container-fluid fieldset {
    padding: 1.9rem;
    width: 700px;
  }

  .section__div__botones {
    margin-top: 20px;
  }
}
@media (max-width: 860px) {
  /* header */
  .header .header__nav .header__div__menu a {
    font-size: 0.95rem;
  }

  .section--quienessomos div h1 {
    font-size: 1.5rem;
  }
  .section--quienessomos .container-fluid {
    margin-top: 150px;
    /* card */
  }
  .section--quienessomos .container-fluid .section__div--contadoras {
    box-sizing: border-box;
    display: flex;
  }
  .section--quienessomos .container-fluid .section__div--contadoras .card h4 {
    font-size: 1.1rem;
  }
  .section--quienessomos .container-fluid .section__div--contadoras .card p {
    font-size: 0.9rem;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.85rem;
    width: 650px;
  }

  .section__div__botones {
    margin-top: 30px;
  }
}
@media (max-width: 815px) {
  /* header */
  .header .header__nav .header__div__menu a {
    font-size: 0.9rem;
  }

  /* títulos */
  .display-1 {
    font-size: 4rem;
  }

  /*botones*/
  .section__div__botones a {
    font-size: 0.9rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 1.2rem;
  }

  /* texto */
  p {
    font-size: 1rem;
  }

  /* contenedor titulos */
  .section__div__titulo,
.section__div__titulo--acercaDe {
    margin-bottom: 20px;
  }

  /* quienes somos seccion */
  .section--quienessomos {
    justify-content: space-between;
  }

  .section__div__botones {
    margin-top: 40px;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.8rem;
    width: 600px;
  }
}
@media (max-width: 760px) {
  /* footer */
  .footer__div__nav {
    text-align: center;
  }

  .section--quienessomos .container-fluid .row .card h4 {
    font-size: 1.2rem;
  }
  .section--quienessomos .container-fluid .row .card p {
    font-size: 0.9rem;
  }

  .section__div__botones {
    margin-top: 50px;
  }
}
@media (max-width: 710px) {
  .section--quienessomos .container-fluid .row .card h4 {
    font-size: 1.1rem;
  }
  .section--quienessomos .container-fluid .row .card p {
    font-size: 0.85rem;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.75rem;
    width: 530px;
  }

  /*botones*/
  .section__div__botones {
    margin-top: 55px;
  }
  .section__div__botones a {
    font-size: 0.85rem;
  }
}
@media (max-width: 620px) {
  /* header */
  .header .header__nav .header__div__menu a {
    font-size: 0.8rem;
  }

  .section--contacto .section__div__titulo--contacto h1 {
    font-size: 2rem;
  }
  .section--contacto .container-fluid {
    font-size: 0.9rem;
  }
  .section--contacto .container-fluid fieldset {
    padding: 1.65rem;
    width: 500px;
  }

  .section--quienessomos .container-fluid .row {
    display: block;
  }
  .section--quienessomos .container-fluid .row .card {
    margin: 0 auto;
    width: 250px;
    height: 140px;
    margin-bottom: 15px;
  }
  .section--quienessomos .container-fluid .row .card .contadora {
    width: 70px;
  }
  .section--quienessomos .container-fluid .row .card h4 {
    font-size: 0.95rem;
  }
  .section--quienessomos .container-fluid .row .card p {
    visibility: hidden;
  }
  .section--quienessomos .container-fluid .row .card div .icon a {
    font-size: 0.85rem;
  }

  /*botones*/
  .section__div__botones {
    margin-top: 60px;
  }
  .section__div__botones a {
    font-size: 0.8rem;
  }
}
@media (max-width: 592px) {
  /* header */
  .header .header__nav .header__div__menu a {
    font-size: 0.75rem;
  }

  /* títulos */
  .display-1 {
    font-size: 3.5rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 1rem;
  }

  /* texto */
  p {
    font-size: 0.95rem;
  }

  .section__div__botones {
    margin-top: 65px;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.55rem;
    width: 450px;
  }
}
@media (max-width: 576.5px) {
  /* header icono */
  .header .header__nav .header__icono {
    width: 80px;
    height: auto;
  }

  /*footer*/
  .footer .row .footer__div .footer__icono {
    width: 80px;
    height: auto;
  }

  .section__div__botones {
    margin-top: 70px;
  }
  .section__div__botones a {
    font-size: 0.75rem;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.5rem;
    width: 400px;
  }
}
@media (max-width: 505px) {
  /* títulos */
  .display-1 {
    font-size: 3.2rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 0.97rem;
  }

  /* texto */
  p {
    font-size: 0.9rem;
  }

  .section--contacto .section__div__titulo--contacto h1 {
    font-size: 1.9rem;
  }
  .section--contacto .container-fluid {
    font-size: 0.85rem;
  }
  .section--contacto .container-fluid fieldset {
    padding: 1.5rem;
    width: 400px;
  }

  .section__div__botones {
    margin-top: 75px;
  }
  .section__div__botones a {
    font-size: 0.7rem;
  }
}
@media (max-width: 470px) {
  /* header icono */
  .header .header__nav .header__icono {
    width: 70px;
    height: auto;
  }

  /*footer*/
  .footer .row .footer__div .footer__icono {
    width: 70px;
    height: auto;
  }
  .footer .row .footer__div__nav a {
    font-size: 0.85rem;
  }

  /* títulos */
  .display-1 {
    font-size: 3rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 0.9rem;
  }

  /* texto */
  p {
    font-size: 0.86rem;
  }

  .section--contacto .container-fluid fieldset {
    padding: 1.45rem;
    width: 350px;
  }
}
@media (max-width: 440px) {
  /* títulos */
  .display-1 {
    font-size: 2.5rem;
  }

  /* titulo h3 */
  .section__div__tercertitulo h3 {
    font-size: 0.85rem;
  }

  .section__div__titulo--contacto h1 {
    font-size: 1.7rem;
  }

  .section--contacto .container-fluid {
    font-size: 0.8rem;
  }
  .section--contacto .container-fluid fieldset .btn {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=mediaqueries.css.map */
