@charset "UTF-8";
/*grids*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap");
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*grids*/
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

/*header*/
.header {
  grid-area: header1;
  position: relative;
  background-color: #1B2740;
  box-sizing: border-box;
}
.header .header__nav {
  padding: 1rem;
}
.header .header__nav .navbar-nav {
  align-items: center;
}
.header .header__nav button {
  border-color: transparent;
}
.header .header__nav .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.header .header__nav .header__icono {
  width: 90px;
  height: auto;
}
.header .header__nav .header__div__menu {
  padding: 1.2rem;
}
.header .header__nav .header__div__menu a:hover {
  background-color: #686f86b4;
  border-radius: 15px;
}
.header .header__nav .header__div__menu a {
  font-family: "Sintony", sans-serif;
  color: #ffffff;
  padding: 0.5rem;
}
.header .header__nav .header__div__menu ul ul li {
  display: block;
}
.header .header__nav .header__div__menu ul li:hover > ul {
  display: block;
}
.header .header__nav .header__div__menu .header__nav__submenu {
  background-color: #1B2740;
}
.header .header__nav .header__div__menu .header__nav__submenu .dropdown-item:hover {
  background-color: #686f86;
}

/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*grids*/
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

/*footer*/
.footer {
  grid-area: footer1;
  display: flex;
  background-color: #555C73;
  height: auto;
}
.footer .row {
  align-items: center;
  justify-content: space-evenly;
}
.footer .row .footer__div {
  display: flex;
}
.footer .row .footer__div .footer__icono {
  width: 90px;
  height: auto;
}
.footer .row .col-lg-4 .col-md-6 {
  margin: 0;
}
.footer .row .footer__div__nav li {
  list-style: none;
}
.footer .row .footer__div__nav a {
  padding: 0;
  font-size: 0.9rem;
}
.footer .row .footer__div__nav a:hover {
  color: #0C1726;
  background-color: transparent;
}

/*secciones*/
.section--index,
.section--acercaDe,
.section--contacto,
.section--servicios,
.section--quienessomos {
  grid-area: imgInformacion;
}

/*index*/
.jumbotron {
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, .section--contacto, .section--quienessomos, .section--servicios, .section--acercaDe, .section--index {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--index {
  background-image: url("../assets/img/solucionesempresariales.png");
}
.section--index:before {
  content: "";
  background-color: #0C1726;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
}

/* acerca de */
.section--acercaDe {
  background-image: url("../assets/img/acercade.png");
}
.section--acercaDe:before {
  content: "";
  background-color: #0C1726;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
}

/* servicios */
.section--servicios {
  background-image: url("../assets/img/servicios.png");
}
.section--servicios:before {
  content: "";
  background-color: #0C1726;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
}

/* quienes somos */
.section--quienessomos {
  background-image: url("../assets/img/quienessomos.png");
}
.section--quienessomos:before {
  content: "";
  background-color: #0C1726;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
}

/* contacto-formulario */
.section--contacto {
  background-image: url("../assets/img/contactanos.png");
}
.section--contacto:before {
  content: "";
  background-color: #0C1726;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
}

/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*grids*/
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

/*SECCION: Contacto*/
.section--contacto .section__div__titulo--contacto {
  justify-content: center;
}
.section--contacto .container-fluid {
  box-sizing: border-box;
  z-index: 998;
  font-size: 0.95rem;
}
.section--contacto .container-fluid fieldset {
  background-color: #c5ced98a;
  margin: 0 auto;
  padding: 0.9rem;
  border-radius: 12px;
  max-width: 950px;
}
.section--contacto .container-fluid fieldset div label {
  color: #0C1726;
}
.section--contacto .container-fluid fieldset div input {
  font-size: 0.8rem;
}
.section--contacto .container-fluid fieldset div small {
  color: #1B2740;
  padding-left: 5px;
}
.section--contacto .container-fluid fieldset div textarea {
  max-height: 120px;
  min-height: 80px;
  border-radius: 12px;
  font-size: 0.8rem;
}
.section--contacto .container-fluid fieldset div .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1B2740;
  border-color: #0C1726;
  color: #ffffff;
}
.section--contacto .container-fluid fieldset .btn {
  border-radius: 12px;
  padding: 0.32rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.section--contacto .container-fluid fieldset .btn-light {
  background-color: #ffffff;
  border-color: transparent;
}
.section--contacto .container-fluid fieldset .btn-light:hover {
  background-color: #555C73;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.section--contacto .container-fluid fieldset .btn-light:focus {
  background-color: #0C1726;
  color: #ffffff;
}

/*SECCION:quienes somos*/
/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*grids*/
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

.section--quienessomos .container-fluid .row {
  align-items: center;
  justify-content: space-evenly;
}
.section--quienessomos .container-fluid .row .hoverZoom {
  overflow: hidden;
}
.section--quienessomos .container-fluid .row .card {
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.747);
  border-right: 1px solid #686f86;
  border-radius: 15px;
  box-sizing: border-box;
  width: 27vw;
  max-height: 80vh;
  height: 300px;
}
.section--quienessomos .container-fluid .row .card .contadora {
  padding: 10px;
  margin: 0 auto;
  align-self: center;
  text-align: center;
  width: 90px;
}
.section--quienessomos .container-fluid .row .card h4 {
  color: #0C1726;
  font-weight: bold;
  font-size: 1.3rem;
}
.section--quienessomos .container-fluid .row .card p {
  color: #151b25;
  font-size: 1rem;
  z-index: 998;
  text-align: center;
  padding: 10px;
}
.section--quienessomos .container-fluid .row .card div .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--quienessomos .container-fluid .row .card div .icon a {
  color: #151b25;
  position: absolute;
  bottom: 1em;
}

/* animación*/
.section__div--contadoras:hover .hoverZoom {
  filter: blur(4px);
  opacity: 0.5;
  box-shadow: none;
}

.section__div--contadoras:hover .hoverZoom:hover {
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px #151b25;
  transform: scale(1.2);
  transition: 0.8s ease-in-out;
}

/* SECCION: servicios */
/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*grids*/
.grid {
  display: grid;
  grid-template-areas: "header1" "imgInformacion" "footer1";
}

.section--servicios {
  position: relative;
}
.section--servicios .section__div--servicios {
  width: 90%;
}
.section--servicios .section__div--servicios .section__carousel {
  width: 100vw;
}
.section--servicios .section__div--servicios .section__carousel__container {
  position: relative;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__prev {
  z-index: 998;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  top: calc(50% + 45px);
  line-height: 40px;
  background: none;
  color: #ffffff;
  opacity: 0.4;
  left: 15px;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__prev:hover {
  opacity: 1;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__next {
  z-index: 998;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  top: calc(50% + 45px);
  line-height: 40px;
  background: none;
  color: #ffffff;
  opacity: 0.4;
  right: 15px;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__next:hover {
  opacity: 1;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios {
  overflow: hidden;
  box-sizing: border-box;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios__item {
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 15px;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios__item .servicio__icono {
  align-self: center;
  margin-top: 15px;
  width: 90px;
  height: auto;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios__item .servicio__tipo {
  color: #0C1726;
  font-size: 1.5rem;
  text-align: center;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios__item .servicio__tipo__detalle {
  list-style: none;
  margin: 5px;
  padding: 15px;
  text-align: center;
}
.section--servicios .section__div--servicios .section__carousel__container .carousel__servicios__item .servicio__tipo__detalle li {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.section--servicios .section__div--servicios .section__carousel .carousel__indicadores .glider-dot {
  z-index: 998;
  background-color: #ffffff;
  opacity: 0.2;
}
.section--servicios .section__div--servicios .section__carousel .carousel__indicadores .glider-dot:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}
.section--servicios .section__div--servicios .section__carousel .carousel__indicadores .glider-dot.active {
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.glider-slide img {
  width: 90px;
  height: auto;
}

div.glider-track:first-child {
  margin-left: 30px;
}
div.glider-track:last-child {
  margin-right: 30px;
}

element.style {
  width: 90%;
}

/*botones*/
/*paleta de colores*/
h1, h2, h3, h4, h5, p, nav a {
  color: #ffffff;
}

/*tipografia*/
h1, h2, label {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, p, input, nav a, .section__div__botones a {
  font-family: "Sintony", sans-serif;
}

.section__div__botones {
  z-index: 998;
  margin-top: 15px;
}
.section__div__botones .boton {
  border-radius: 10px;
  display: inline-block;
  padding: 5px 20px;
  box-shadow: 0 0 40px -10px #000;
}
.section__div__botones .boton--blanco {
  color: #0C1726;
  background-color: #ffffff;
}
.section__div__botones .boton--blanco:hover {
  color: #ffffff;
  background-color: #555C73;
}
.section__div__botones .boton--blanco:active {
  background-color: #555C73;
}
.section__div__botones .boton--link {
  margin: 0px 5px 10px 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: left;
}

/*contenedores*/
/* h1 */
.section__div__titulo {
  display: flex;
  z-index: 998;
  padding: 5px 5px 10px 35px;
  width: 40vw;
  margin-bottom: 30px;
}

.section__div__titulo--acercaDe {
  display: flex;
  z-index: 998;
  padding: 5px 5px 10px 35px;
  width: 45vw;
  margin-bottom: 30px;
}

.section__div__titulo--servicios {
  display: flex;
  z-index: 998;
  padding: 5px 5px 10px 35px;
}
.section__div__titulo--servicios h1 {
  margin: 0 auto;
  font-size: 1.7rem;
  z-index: 999;
}

.section__div__titulo--quienessomos {
  display: flex;
  z-index: 998;
  padding: 5px 5px 10px 35px;
}
.section__div__titulo--quienessomos h1 {
  margin: 0 auto;
  font-size: 1.7rem;
  z-index: 999;
  margin-bottom: 35px;
}

.section__div__titulo--contacto {
  display: flex;
  z-index: 998;
  padding: 5px 5px 10px 35px;
  padding: 5px 5px 10px 10px;
}

/* h2 */
.section__div__segundotitulo {
  z-index: 998;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 40px;
}

/* h3 */
.section__div__tercertitulo {
  display: flex;
  z-index: 998;
  width: 40vw;
  padding: 5px 5px 10px 35px;
}

/* p */
.section__div__texto, .section__div__texto--acercaDe {
  display: flex;
  width: 90vw;
  height: 13vh;
  z-index: 998;
  padding: 0px 5px 40px 35px;
}

/*# sourceMappingURL=styles.css.map */
