@import './layout/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/section';
@import './views/contacto';
@import './views/quienessomos';
@import './views/servicios';
@import './components/buttons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: left;
}

/*contenedores*/
/* h1 */
.section__div__titulo{
    display: flex;
    z-index: 998;
    width: 40vw;
    padding: 5px 5px 10px 35px;
    margin-bottom: 30px;
}

.section__div__titulo--acercaDe{
    display: flex;
    z-index: 998;
    width: 45vw;
    padding: 0 5px 10px 35px;
    margin-bottom: 30px;
}


.section__div__titulo--contacto{
    display: flex;
    z-index: 998;
    width: 65vw;
    padding: 5px 5px 10px 35px;
    
}

/* h2 */
.section__div__segundotitulo{
    z-index: 998;
    font-size: 1.7rem;
    text-align: center; 
    margin-bottom: 40px;
}

/* h3 */
.section__div__tercertitulo{
    display: flex;
    z-index: 998;
    width: 40vw;
    padding: 5px 5px 10px 35px;
}

/* h4 */
.section__div__equipo h4{
    z-index: 998;
    text-align: center;
    font-size: 1.1rem;
}

/* p */ 
.section__div__texto{
    display: flex;
    width: 90vw;
    height: 20vh;
    z-index: 998;
    padding: 0px 5px 50px 35px;
}


.section__div__texto--acercaDe{
    display: flex;
    width: 90vw;
    height: 20vh;
    z-index: 998;
    padding: 0px 5px 50px 35px; 
}


