@import './layout/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/section';
@import './views/contacto';
@import './views/quienessomos';
@import './views/servicios';
@import './components/buttons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: left;
}

@mixin contenedores--titulo{
    display: flex;
    z-index: 998;
    padding: 5px 5px 10px 35px;
   
}
/*contenedores*/
/* h1 */
.section__div__titulo{
    @include contenedores--titulo();
    width: 40vw;
    margin-bottom: 30px;
}

.section__div__titulo--acercaDe{
    @include contenedores--titulo();
    width: 45vw;
    margin-bottom: 30px;
}


.section__div__titulo--servicios{
    @include contenedores--titulo();  
    h1{
        margin:0 auto;
        font-size: 1.7rem;
        z-index: 999;
    }
}


.section__div__titulo--quienessomos{
    @include contenedores--titulo();  
    h1{
        margin:0 auto;
        font-size: 1.7rem;
        z-index: 999;
        margin-bottom: 35px;
    }
}

.section__div__titulo--contacto{
    @include contenedores--titulo();
    width: 65vw;
    padding: 5px 5px 10px 35px;
}



/* h2 */
.section__div__segundotitulo{
    z-index: 998;
    font-size: 1.7rem;
    text-align: center; 
    margin-bottom: 40px;
}

/* h3 */
.section__div__tercertitulo{
    display: flex;
    z-index: 998;
    width: 40vw;
    padding: 5px 5px 10px 35px;
}

/* p */ 
.section__div__texto, .section__div__texto--acercaDe{
    display: flex;
    width: 90vw;
    height: 13vh;
    z-index: 998;
    padding: 0px 5px 40px 35px;

}


