/*secciones*/

.section--index, 
.section--acercaDe,
.section--contacto, 
.section--servicios, 
.section--quienessomos{
    grid-area: imgInformacion;
}

/*index*/ 
.jumbotron{
    border-radius: 0;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

// EXTEND
section{
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

// MIXIN
@mixin layer {
    content: "";
    background-color: $color1;
    width: 100%;
    height:100vh;
    opacity: 0.7; 
    position: absolute;
}

.section--index{
    @extend section;
    background-image: url("../assets/img/solucionesempresariales.png");

    &:before{
        @include layer();
    }
}


/* acerca de */
.section--acercaDe{
    @extend section; 
    background-image: url("../assets/img/acercade.png");

    &:before{
        @include layer();
    }    
}

/* servicios */
.section--servicios{
    @extend section; 
    background-image: url("../assets/img/servicios.png");

    &:before{
        @include layer();
    }
}


/* quienes somos */
.section--quienessomos{
    @extend section; 
    background-image: url("../assets/img/quienessomos.png");

    &:before{
        @include layer();
    }
}

/* contacto-formulario */
.section--contacto{
    @extend section; 
    background-image: url("../assets/img/contactanos.png");

    &:before{
        @include layer();
    }
    
}
