/*paleta de colores*/
$color1:#0C1726;

$color2:#1B2740; 

$color3:#8692b8;

$color4:#555C73;

$color5:#686f86b4;

$color6:#686f86;

$color7:#c5ced98a;

$color8: #ffffff;

$color9:#ffffff94;

$color10:#151b25;

h1,h2,h3,h4,h5,p, nav a{
    color: $color8;
}

