/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap');

$titulos:'Poppins', sans-serif;

$subtitulos-textos:'Sintony', sans-serif;

h1,h2{
    font-family: $titulos;
}

h3,h4,h5,p, nav a{
    font-family: $subtitulos-textos;
}


