@import '../base/tipografia';
@import '../base/colores';
@import '../layout/grid';

/*SECCION: Contacto*/

.section--contacto{
    .section__div__titulo--contacto{
        justify-content: center; 
    }
    
    .container-fluid{
        box-sizing: border-box;
        z-index: 998;
        font-size: 0.95rem;

        fieldset{
            background-color:  map-get($colors, "color7");;
            margin:0 auto;
            padding: 2rem;
            border-radius: 12px;
            max-width: 750px;

            div{
                label{
                    color: map-get($colors, "color1");;
                }

                input{
                    font-size: 0.8rem;
                }

                small{
                    color: map-get($colors, "color2");
                    padding-left :5px;
                }


                textarea{
                    max-height: 120px;
                    min-height: 80px;
                    border-radius: 12px;
                    font-size: 0.8rem;
                }

                .custom-control-input:checked~.custom-control-label::before {
                    background-color: map-get($colors, "color2");
                    border-color: map-get($colors, "color1");
                    color: map-get($colors, "color8");
                }
            }
            
            .btn{
                border-radius: 12px;
                padding: 0.32rem;
                margin-top: 1rem;
                font-size: 0.8rem;
                font-family: $titulos;
            }

            .btn-light{
                background-color: map-get($colors, "color8");
                border-color: transparent;

                &:hover{
                    background-color: map-get($colors, "color4");
                    color:map-get($colors, "color8");
                    transition: .3s ease-in-out;
                }

                &:focus{
                    background-color: $color1;
                    color:map-get($colors, "color8");
                }
            }
        }
    }
}
