/*SECCION:quienes somos*/
@import '../base/colores';
@import '../layout/grid';
@import '../base/tipografia';

$border-card:1px solid #686f86;

.section--quienessomos{

    .container-fluid{

        .row{
            align-items: center;
            justify-content: space-evenly;
        }
        
        div{

            .card{
                margin-top: 8px;
                background-color: rgba(255, 255, 255, 0.747);
                border-right: $border-card;
                border-radius: 15px;
                box-sizing: border-box;

                .col-md-3{
                    .contadora{
                        img{
                            padding:10px;
                            margin: 0 auto;
                            align-self: center;
                            text-align: center;
                        }
                    }
                }

                h4{
                    color:$color1;
                }

                p{
                    color: #151b25;
                    font-size: 1rem; 
                    z-index: 998;
                    text-align: center;
                }

                
            }
        }
    }
}