/*SECCION:quienes somos*/
@import '../base/colores';
@import '../layout/grid';
@import '../base/tipografia';

$border-card:1px solid #686f86;

.section--quienessomos{

    .container-fluid{
        
        .row{
            align-items: center;
            justify-content: space-evenly;
            .hoverZoom{
                overflow: hidden;
            }
            .card{
                margin-top: 8px;
                background-color: rgba(255, 255, 255, 0.747);
                border-right: $border-card;
                border-radius: 15px;
                box-sizing: border-box;
                width: 27vw;
                max-height: 80vh;
                height: 300px;

                .contadora{
                    padding:10px;
                    margin: 0 auto;
                    align-self: center;
                    text-align: center;
                    width: 90px;
                }

                h4{
                    color:$color1;
                    font-weight: bold;
                    font-size: 1.3rem;
                }

                p{
                    color:map-get($colors, "color10");;
                    font-size: 1rem; 
                    z-index: 998;
                    text-align: center;
                    padding: 10px;
                }
                
                div{
                    .icon{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        a{
                            color: $color10;
                            position:absolute;
                            bottom: 1em;
                        }
                        
                        
                    }
                }
            }
        }
    }
}



/* animación*/
.section__div--contadoras:hover .hoverZoom{
    filter: blur(4px);
    opacity: 0.5;
    box-shadow: none;
}

.section__div--contadoras:hover .hoverZoom:hover{
    filter: blur(0px);
    opacity: 1;
    box-shadow:0 8px 20px 0px $color10;
    transform: scale(1.2);
    transition: .8s ease-in-out;
    
}
