/* SECCION: servicios */
@import '../base/tipografia';
@import '../base/colores';
@import '../layout/grid';

$card-bg--color:rgba(255, 255, 255, 0.705);

// seccion servicios
.section--servicios{
    .container-fluid{
        .card-deck{
            .card{
                background-color: $card-bg--color;
                max-height:750px;
                border-radius: 15px;
                h2{
                    font-size: 1.5rem;
                    color: map-get($colors, "color1");
                    text-align: center;
                }
                .servicio__imagen{
                    width: 90px;
                    height: auto;
                    margin: 0 auto;
                    align-self: center;
                }
                .list-group{
                    font-family: $titulos;
                    font-size: 0.8rem;
                    
                    .list-group-item{
                        background-color: transparent;
                    }
                    
                }
            }
        }
    }
}