/* SECCION: servicios */
@import '../base/tipografia';
@import '../base/colores';
@import '../layout/grid';

$card-bg--color:rgba(255, 255, 255, 0.705);


.section--servicios {
    width: 100vw;
    .section__div--servicios {
        width: 100%;

        .section__div__container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:1.2rem;

            .glide {
                .glide__track {
                    .glide__slides {
                        .glide__slide {
                            .servicios__item {
                                background-color: $card-bg--color;
                                border-radius: 15px;
                                margin:0 auto;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 300px;
                                min-height: 550px;

                                .servicio__icono {
                                    align-self: center;
                                    margin-top: 15px;
                                    width: 90px;
                                    height: auto;
                                }

                                .servicio__tipo {
                                    color: map-get($colors, "color1");
                                    font-size: 1.5rem;
                                    text-align: center;
                                }

                                .servicio__tipo__detalle {
                                    list-style: none;
                                    margin: 5px;
                                    padding: 15px;
                                    text-align: center;

                                    li {
                                        font-family: $titulos;
                                        font-size: 0.8rem;
                                        padding-top: 0.5rem;
                                        padding-bottom: 0.5rem;
                                    }
                                }

                            }
                        }
                    }
                    
                }
                .glide__arrows{
                    .glide__arrow{
                        border-radius: 180px;
                        border: none;
                        background-color: map-get($colors , "color10" );
                        box-shadow: none;
                        text-shadow: none;
                    }

                    .glide__arrow--left {
                        left: 1em;
                    }
                    
                    .glide__arrow--right {
                        right: 1em;
                    }
                }
                
            }
        }
    }
}